/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*@import url(http://fonts.googleapis.com/css?family=Play);*/
@import url(http://fonts.googleapis.com/css?family=Arvo:700,400italic,400);
@import url(http://fonts.googleapis.com/css?family=Alfa+Slab+One);

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-size: 100%;
  padding-left:0px;
  padding-right:0px;

}

p {
    font-family: Arvo, arial, sans-serif;
    font-size: 1em;
    font-weight: 400;
    margin: 0px;
}
.italics {
  font-weight: 400;
  font-style: italic;
}
.bold {
  font-weight: 700;
}

h1 { 
  font-family: 'Alfa Slab One',sans-serif; 
  font-size: 6em;
  font-weight: normal;
  padding-bottom: 0.25em;
    padding-top: 0.25em;
    line-height: 1.25em;
    text-transform: uppercase;
    margin: 0px;

}

h2 { font-size: 3.0em; }
h3 { font-size: 1.5em; }


.wall {
  background-image: url('../img/wall.jpg');
  background-size: cover;
}

.nopad{
padding-left:0px;
padding-right:0px;
}
.pad {
  padding-left: 2%;
  padding:right:2%;
}
.nomargin{
margin-left:0px;
margin-right:0px;
}

.office{
    width:100%;
    height:auto;
    border: none;

}

.office img {
    width: 100%;
    height: auto;

}

 .ediblewrapper {
  overflow:hidden;
  z-index:100;
  position:fixed;
  top:0;
  background-color: #cccccc;
  background-size: cover;
 }
#tag {

 vertical-align: middle;
 z-index:105;
 float:left;



}
.controls {
  z-index:200;
  position: fixed;
  top:0;
  height:100%;
  width: 100%
  ;
}

.closebutton {
  position:absolute;
  margin-top:25px;
  left:2%;
  float:left;
  font-size:4em;
  color: rgba(255, 248, 231, .7);
}
.closebutton :hover {
  color: rgba(156,255,206, 0.6);
}



.backwarddiv {
  position: relative;
  height:75%;
  /*background-color: green;*/
  opacity:50%;
  top:15%;
  float:left;
  width:20%;
  display:block;
  margin-left: 11%;

}

.forwarddiv {
height:75%;
position: relative;
top:15%;
width:20%;
float:right;
display:block;
margin-right: 5%;


/*background-color: red;*/
opacity:50%;
}
.blowupdiv {
  position:relative;
  top:15%;
  z-index:205;
  height:75%;
  width:35%;
  float:left;
  display: block;
  margin-left: 5%;

  
  /*background-color:blue;*/

}

.modal-backdrop {
  /*background-image: url('../img/desksurface.jpg');*/
  background-color: white;
  background-size: cover;

}
.firstwords {
  position:fixed;
  top:0;
  height:100%;
  width:100%;
  z-index:5000;
  display:block;
  float:left;
  /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(156,255,206);
    /* RGBa with 0.6 opacity */
    background-color: rgba(156,255,206, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";

}
.firstwords p{
  margin-top:15%;
  padding:2%;
  /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(255, 248, 231);
    /* RGBa with 0.6 opacity */
    background-color: rgba(255, 248, 231, 1);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";

}
.lightbox-content {
  background-clip: padding-box;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  display: inline-block;
  padding: none;
}
.lightbox-content img {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}
